@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color global */
:root {
  /* Colores base para el modo claro */
  --background-light: #f8f9fa; /* Fondo claro */
  --foreground-light: #212529; /* Texto oscuro */
  --primary-light: #ffadad; /* Morado elegante en modo claro */
  --secondary-light: #6c757d; /* Gris secundario */
  --tertiary-light: #e2e6ea;
  --accent-light: #ffc107; /* Acento amarillo */
  --navbar-bg-light: #343a40; /* Fondo del Navbar claro */
  --navbar-text-light: #ffffff; /* Texto claro del Navbar */
  --navbar-hover-light: #495057; /* Hover claro del Navbar */
  --box-shadow-light: rgba(0, 0, 0, 0.1); /* Sombra en modo claro */
  --star-color-light: rgb(129, 129, 129); /* Color de la estrella fugaz en tema claro */
  --border-color-light: rgba(0, 0, 0, 0.1); /* Borde para tema claro */
    /* Colores base para el modo claro */
    --primary-light: #ffadad;
    --secondary-light: #6c757d;
    
    /* Variables RGB para transparencia */
    --primary-light-rgb: 255, 173, 173; /* equivalente a #ffadad */
    --secondary-light-rgb: 108, 117, 125; /* equivalente a #6c757d */
  
  
  /* Colores base para el modo oscuro */
  --background-dark: #212529; /* Fondo oscuro */
  --foreground-dark: #f8f9fa; /* Texto claro */
  --primary-dark: #7a4141; /* Morado profundo para el modo oscuro */
  --secondary-dark: #adb5bd; /* Gris claro */
  --tertiary-dark: #5a6268;
  --accent-dark: #ffc107; /* Acento amarillo */
  --navbar-bg-dark: #0a0a0a; /* Fondo oscuro del Navbar */
  --navbar-text-dark: #ffffff; /* Texto claro del Navbar */
  --navbar-hover-dark: #495057; /* Hover en modo oscuro */
  --box-shadow-dark: rgba(255, 255, 255, 0.2); /* Sombra en modo oscuro */
  --star-color-dark: rgba(255, 255, 255, 0.7); /* Color de la estrella fugaz en tema oscuro */
  --border-color-dark: rgba(255, 255, 255, 0.2); /* Borde para tema oscuro */
    /* Colores base para el modo oscuro */
    --primary-dark: #7a4141;
    --secondary-dark: #adb5bd;
  
    /* Variables RGB para transparencia */
    --primary-dark-rgb: 122, 65, 65; /* equivalente a #7a4141 */
    --secondary-dark-rgb: 173, 181, 189; /* equivalente a #adb5bd */
}

/* Modo claro por defecto */
[data-theme='light'] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --navbar-bg: var(--navbar-bg-light);
  --navbar-text: var(--navbar-text-light);
  --navbar-hover: var(--navbar-hover-light);
  --box-shadow-color: var(--box-shadow-light);
  --star-color: var(--star-color-light);
}

/* Modo oscuro */
[data-theme='dark'] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --navbar-bg: var(--navbar-bg-dark);
  --navbar-text: var(--navbar-text-dark);
  --navbar-hover: var(--navbar-hover-dark);
  --box-shadow-color: var(--box-shadow-dark);
  --star-color: var(--star-color-dark);
}



/* Contenedor para el fondo animado, colocado detrás de los elementos principales */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Asegura que esté detrás del contenido principal */
}

.night {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

/* Estilo del cuerpo de la página */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.6;
}

.shooting_star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, var(--star-color), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px var(--star-color));
  animation: tail 3000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;
}


.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), var(--star-color), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 5000ms ease-in-out infinite;
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

/* Animaciones */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 150px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 15px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(1000px); /* Ajusta la distancia de movimiento */
  }
}





/* Estilo del Navbar */
.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 1rem;
 
}

.navbar a {
  color: var(--navbar-text);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.footer {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 1rem;
 
}

.navbar a:hover {
  background-color: var(--navbar-hover);
  border-radius: 4px;
}

/* Botones de cambio de idioma */
.language-button {
  background-color: var(--secondary);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.language-button:hover {
  background-color: var(--primary);
  color: var(--foreground);
}

/* Botón de cambio de tema */
.theme-toggle {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--accent);
}

/* Utilidades personalizadas */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.selected-tech {
  background-color: var(--secondary);
  color: var(--foreground);
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.description-box {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.shadow-text {
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-gradient {
  background: linear-gradient(to right, var(--foreground), var(--background));
  -webkit-background-clip: text;
  color: transparent;
}


/* borrar para restaurar default -body-*/




body {
  background: repeating-linear-gradient(45deg, var(--background) 0%, var(--primary) 3%, transparent 7%, transparent 50%),
              repeating-linear-gradient(45deg, var(--primary) 0%, var(--background) 10%, transparent 5%, transparent 50%);
  background-size: 90em 90em;
  background-color: var(--background);
  opacity: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  /* Aplicar la animación */
 
}



/* Estilos de la barra de lvl */
.progress-bar {
  height: 8px; /* Ajusta la altura de la barra */
  background-color: var(--primary); /* Color de la barra (dependerá del tema) */
  border-radius: 999px; /* Borde redondeado */
  transition: width 1s ease-in-out; /* Animación suave para cambiar el ancho */
}

.progress-container {
  width: 100%;
  background-color: var(--secondary); /* Color de fondo de la barra */
  border-radius: 999px;
  overflow: hidden; /* Para que la barra no se salga de los bordes redondeados */
}



/* Estilos globales para el card */
.card {
  
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  background-color: var(--background);
  color: var(--foreground);
  margin-top: 10rem;
  

  /* Fondo por defecto (tema claro) */
  background-image: url('/backgroundlight.png');
  background-size: cover;
  background-position: center;
}

/* Fondo para el tema oscuro */
[data-theme='dark'] .card {
  background-image: url('/backgrounddark.png');
}

/* Efecto hover en el card */
.card:hover {
  transform: scale(1.05);
}


.card-content {
  background-color: rgba(236, 236, 236, 0.8); /* Fondo blanco semitransparente para el tema claro */
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  
}

/* Fondo semitransparente en el tema oscuro */
[data-theme='dark'] .card-content {
  background-color: rgba(33, 37, 41, 0.8); /* Fondo oscuro semitransparente */
}

/* Estilos para el título */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--foreground);
}

/* Color del título en temas claro y oscuro */
[data-theme='light'] .card-title {
  color: var(--background-dark); /* Texto oscuro en tema claro */
}

[data-theme='dark'] .card-title {
  color: var(--background-light); /* Texto claro en tema oscuro */
}

/* Estilos para el texto del párrafo */
.card-text {
  margin-bottom: 1.5rem;
  color: var(--secondary);
}

[data-theme='dark'] .card-text {
  color: var(--foreground); /* Texto claro en tema oscuro */
}
/* Contenedor de los botones */
.button-container {
  display: flex;
  gap: 2rem; /* Espacio entre los botones */
  justify-content: center; /* Centrar los botones */
  margin-top: 1.5rem;
}
/* Estilos para el botón */
.card-button {
  display: inline-flex;    /* Cambia a inline flex para que `align-items` funcione */
  padding: 0.75rem 1.5rem;
  border-radius: 11px; 
  font-weight: 600;
  text-decoration: none;
  justify-content: center; /* Centrado de contenido interno del botón */
  align-items: center;     /* Centrado vertical del contenido interno */
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  color: var(--foreground);
}

/* Hover del botón en tema claro */
[data-theme='light'] .card-button:hover {
  background-color: var(--secondary); /* Fondo secundario en hover */
  color: white; /* Texto blanco en hover */
}

/* Hover del botón en tema oscuro */
[data-theme='dark'] .card-button:hover {
  background-color: var(--secondary-light); /* Fondo oscuro en hover */
  color: var(--tertiary-light); /* Texto de acento en hover */
}


/* Estilos para la sección de introducción */
.introduction-section {
  max-width: 800px;
  margin: 0.8rem auto; 
  background-size: cover;
  background-position: center;
  
  padding: 1rem; 
  border-radius: 0.3rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 2rem; 
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


[data-theme='light'] .introduction-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), 
                    url('/backgroundlight.png');
  background-size: cover;
  background-position: center;
}

/* Fondo para el tema oscuro */
[data-theme='dark'] .introduction-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                    url('/backgrounddark.png');
  background-size: cover;
  background-position: center;
}


.introduction-content {
  position: relative; 
  padding: 1.8rem;
  border-radius: 0.3rem;
  max-width: 800px;
  margin: auto;
  overflow: hidden; 
}


[data-theme='dark'] .introduction-content::before {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 98, 98, 0.8); 
  border-radius: 0.3rem; 

}

/* Pseudo-elemento para fondo semitransparente en el tema claro */
[data-theme='light'] .introduction-content::before {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8); /* Fondo claro con opacidad */
  border-radius: 0.3rem;
  
}



/* Estilos para el título */
.introduction-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--foreground); 
 
}

/* Estilos para el texto */
.introduction-text {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  color: var(--secondary); 
 
  
}

/* Color específico para tema claro */
[data-theme='light'] .introduction-title,
[data-theme='light'] .introduction-text {
  color: var(--foreground-light); 
}

/* Color específico para tema oscuro */
[data-theme='dark'] .introduction-title,
[data-theme='dark'] .introduction-text {
  color: var(--foreground-dark); 
}

/* Responsividad */
@media (max-width: 768px) {
  .introduction-title {
    font-size: 1.8rem;
  }

  .introduction-text {
    font-size: 1rem;
  }
}







/* Estilos personalizados para la introducción */
.introduction-section-ququlkan {
  margin: 0 auto; 
  max-width: 800px; 
  

  padding: 3rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px var(--box-shadow-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), 
  url('/cards.png');
background-size:auto;
background-position:center
 
}

.introduction-title-ququlkan {
  
  color: var(--foreground); /* Texto secundario se ajusta al tema */
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.introduction-text-ququlkan {
  color: var(--secondary);
  font-size: 1.5rem;
  line-height: 1.75rem;
}

/* Responsividad */
@media (max-width: 768px) {
  .introduction-title-ququlkan {
    font-size: 1.8rem;
  }

  .introduction-text-ququlkan {
    font-size: 1rem;
  }
}













/* Clase especial para los estilos de los cards */
.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  align-items: stretch; /* Estira cada card para tener la misma altura */
}
.card-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--secondary-dark);
  color: var(--foreground);
  border: 1px solid var(--secondary-light);
  min-height: 100%; /* Se asegura de que todos los cards llenen el espacio vertical */
}


.card-style:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
/* Configuración para el tema oscuro */
[data-theme="dark"] .card-style {
  background-color: rgba(173, 181, 189, 0.2); /* Usando el color de --secondary-dark con 20% de opacidad */
  color: var(--foreground-dark);
  border-color: var(--foreground-dark);
  box-shadow: 0 4px 8px var(--box-shadow-dark); /* Sombra en modo oscuro */
}

/* Configuración para el tema claro */
[data-theme="light"] .card-style {
  background-color: rgba(108, 117, 125, 0.1); /* Usando el color de --secondary-light con 10% de opacidad */
  color: var(--foreground-light);
  border-color: var(--foreground-light);
  box-shadow: 0 8px 16px var(--box-shadow-light); /* Sombra en modo claro */
}




.card-body {
  flex-grow: 1; /* Ocupa el espacio disponible */
  margin-bottom: 1rem; /* Da un margen inferior para separar el contenido de "Read more" */
}

/* Clase para el contenedor principal dentro del card */
.card-content {
  position: relative;
  z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

/* Clase para el contenido de texto dentro del card */
.card-body {
  flex-grow: 1; /* Permite que este div crezca para ocupar el espacio */
}

.card-read-more {
  margin-top: auto;
  color: var(--foreground);
  transition: color 0.3s ease;
}

.card-read-more:hover {
  color: var(--primary-dark); /* Cambia de
   color al hacer hover */
}



.read-more {
  margin-top: auto;
  color: var(--foreground);
  transition: color 0.3s ease;
  position: relative;
  z-index: 2; /* Asegura que "Read more" también esté por encima del fondo */
}

.read-more:hover {
  color: var(--primary-dark); /* Cambia de color al hacer hover */
}


.header-section {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  padding: 2rem; /* p-8 en Tailwind equivale a 2rem */
  border-radius: 0.5rem; /* rounded-lg en Tailwind */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra equivalente a shadow-md */
  margin-bottom: 3rem; /* mb-12 en Tailwind */
  text-align: center;
  border: 1px solid var(--border-color); /* Borde adaptable al tema */
}

.header-section h1 {
  font-size: 3rem; /* text-5xl en Tailwind equivale a 3rem */
  font-weight: 700; /* font-bold en Tailwind */
  margin-bottom: 1rem; /* mb-4 en Tailwind */
}

.header-section p {
  font-size: 1.25rem; /* text-xl en Tailwind equivale a 1.25rem */
  max-width: 40rem; /* max-w-2xl en Tailwind */
  margin: 0 auto; /* centrar el párrafo */
}

[data-theme="light"] {
  --border-color: var(--foreground-light); /* Negro para tema claro */
}

[data-theme="dark"] {
  --border-color: var(--foreground-dark); /* Blanco para tema oscuro */
  --primary-rgb: 122, 65, 65; /* Morado profundo del tema oscuro */
  --secondary-rgb: 173, 181, 189; /* Gris claro del tema oscuro */
}

/* Gradiente con transparencia en el tema claro */
[data-theme="light"] .header-section {
  background-image: linear-gradient(
    to right,
    rgba(var(--primary-light-rgb), 0.2), /* Primary Light con transparencia */
    rgba(var(--secondary-light-rgb), 0.2) /* Secondary Light con transparencia */
  );
}

/* Gradiente con transparencia en el tema oscuro */
[data-theme="dark"] .header-section {
  background-image: linear-gradient(
    to right,
    rgba(var(--primary-dark-rgb), 0.2), /* Primary Dark con transparencia */
    rgba(var(--secondary-dark-rgb), 0.2) /* Secondary Dark con transparencia */
  );
  box-shadow: 0 4px 8px var(--box-shadow-dark); /* Sombra en modo oscuro */
}





.card-style2 {
  margin: 0 auto; 
  max-width: 1380px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  
  background-color: var(--secondary-dark);
  color: var(--foreground);
  border: 1px solid var(--secondary-light);
  margin-top: 2rem;

}



/* Configuración para el tema oscuro */
[data-theme="dark"] .card-style2 {
  background: linear-gradient(
    135deg,
    
    rgba(var(--secondary-dark-rgb), 0.2),
    rgba(var(--primary-dark-rgb), 0.3)
  ); /* Gradiente en modo oscuro */
  color: var(--foreground-dark);
  border-color: var(--foreground-dark);
  box-shadow: 0 4px 8px var(--box-shadow-dark); /* Sombra en modo oscuro */
}

/* Configuración para el tema claro */
[data-theme="light"] .card-style2 {
  background: linear-gradient(
    135deg,
    
    rgba(var(--secondary-light-rgb), 0.1),
    rgba(var(--primary-light-rgb), 0.2)
  ); /* Gradiente en modo claro */
  color: var(--foreground-light);
  border-color: var(--foreground-light);
  box-shadow: 0 8px 16px var(--box-shadow-light); /* Sombra en modo claro */
}




/* Estilos para el card de tecnología */
.tech-card {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

[data-theme="dark"] .tech-card {
  border-color: var(--border-color-dark);
}

.tech-card:hover {
  box-shadow: 0 8px 16px var(--box-shadow-color);
  transform: scale(1.05);
}

/* Estilos para el card seleccionado */
.selected-tech {
  background: linear-gradient(
    135deg,
    rgba(var(--primary-light-rgb), 0.2),
    rgba(var(--secondary-light-rgb), 0.1)
  );
  border-color: var(--primary);
}

[data-theme="dark"] .selected-tech {
  background: linear-gradient(
    135deg,
    rgba(var(--primary-dark-rgb), 0.4),
    rgba(var(--secondary-dark-rgb), 0.2)
  );
  border-color: var(--primary);
}

/* Estilos para la caja de descripción */
.description-box {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

[data-theme="dark"] .description-box {
  border-color: var(--border-color-dark);
}

/* Estilos para la barra de progreso */
.progress-container {
  background-color: var(--tertiary-light);
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
}

[data-theme="dark"] .progress-container {
  background-color: var(--tertiary-dark);
}

.progress-bar {
  background-color: var(--accent);
  height: 100%;
  transition: width 0.3s;
}



