@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color global */
:root {
  /* Colores base para el modo claro */
  --background-light: #f8f9fa; /* Fondo claro */
  --foreground-light: #212529; /* Texto oscuro */
  --primary-light: #ffadad; /* Morado elegante en modo claro */
  --secondary-light: #6c757d; /* Gris secundario */
  --tertiary-light: #e2e6ea;
  --accent-light: #ffc107; /* Acento amarillo */
  --navbar-bg-light: #343a40; /* Fondo del Navbar claro */
  --navbar-text-light: #ffffff; /* Texto claro del Navbar */
  --navbar-hover-light: #495057; /* Hover claro del Navbar */
  
  /* Colores base para el modo oscuro */
  --background-dark: #212529; /* Fondo oscuro */
  --foreground-dark: #f8f9fa; /* Texto claro */
  --primary-dark: #7a4141; /* Morado profundo para el modo oscuro */
  --secondary-dark: #adb5bd; /* Gris claro */
  --tertiary-dark: #5a6268;
  --accent-dark: #ffc107; /* Acento amarillo */
  --navbar-bg-dark: #0a0a0a; /* Fondo oscuro del Navbar */
  --navbar-text-dark: #ffffff; /* Texto claro del Navbar */
  --navbar-hover-dark: #495057; /* Hover en modo oscuro */
}

/* Modo claro por defecto */
[data-theme='light'] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --navbar-bg: var(--navbar-bg-light);
  --navbar-text: var(--navbar-text-light);
  --navbar-hover: var(--navbar-hover-light);
}

/* Modo oscuro */
[data-theme='dark'] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --navbar-bg: var(--navbar-bg-dark);
  --navbar-text: var(--navbar-text-dark);
  --navbar-hover: var(--navbar-hover-dark);
}

/* Estilos globales */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.6;
}

/* Estilo del Navbar */
.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 1rem;
 
}

.navbar a {
  color: var(--navbar-text);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.footer {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 1rem;
 
}

.navbar a:hover {
  background-color: var(--navbar-hover);
  border-radius: 4px;
}

/* Botones de cambio de idioma */
.language-button {
  background-color: var(--secondary);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.language-button:hover {
  background-color: var(--primary);
  color: var(--foreground);
}

/* Botón de cambio de tema */
.theme-toggle {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--accent);
}

/* Utilidades personalizadas */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.selected-tech {
  background-color: var(--secondary);
  color: var(--foreground);
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.description-box {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.shadow-text {
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-gradient {
  background: linear-gradient(to right, var(--foreground), var(--background));
  -webkit-background-clip: text;
  color: transparent;
}


/* borrar para restaurar default -body-*/



body {
  background: repeating-linear-gradient(45deg, var(--background) 0%, var(--primary) 3%, transparent 7%, transparent 50%),
  repeating-linear-gradient(45deg, var(--primary) 0%, var(--background) 10%, transparent 5%, transparent 50%);
  
             
  background-size: 90em 90em;
  background-color: var(--background); /* Usar la variable de fondo según el tema */
  opacity: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Estilos de la barra de lvl */
.progress-bar {
  height: 8px; /* Ajusta la altura de la barra */
  background-color: var(--primary); /* Color de la barra (dependerá del tema) */
  border-radius: 999px; /* Borde redondeado */
  transition: width 1s ease-in-out; /* Animación suave para cambiar el ancho */
}

.progress-container {
  width: 100%;
  background-color: var(--secondary); /* Color de fondo de la barra */
  border-radius: 999px;
  overflow: hidden; /* Para que la barra no se salga de los bordes redondeados */
}
